<!DOCTYPE html>
<html>
    <head>
        <title>Proper nutrition</title>
        <meta charset="UTF=8">
        <link rel="stylesheet" href="static/Стили.css">
        
    <body>
     <div class="img">   
        <img src="https://s1.1zoom.ru/big3/601/Fruit_Clock_Pears_Grapes_505645.jpg" width="400px" height="400px">
    <div class="header2">
        <h1>Здоровое питание</h1>
        <p>Для чего оно нужно?</p>
        <p>KostPedia Объяснит</p>
        
        <img src="https://i.pinimg.com/originals/f4/6f/dd/f46fdd15e1c4bda926ff575585a04187.jpg" width="60px" height="60px" alt="">
        
    </div>
    </div>
   
    <div class="navbar">
        <p class="right">© KostPedia, лучший источник информации </p>
        <a href="/psychology">Психология</a>
        <a href="/fitness">Фитнес</a>
        <a href="/register">Регистрация</a>
        <a href="/login">Авторизация</a>
        <a href="/profile">Профиль</a>
     
    </div>
    <div class="main">
        <h1>Основные факты</h1>
        <p>· Здоровое питание обеспечивает защиту от неправильного питания во всех его формах, а также от неинфекционных заболеваний (НИЗ), включая диабет, болезни сердца, инсульт и рак.</p>
        <p>· Практика здорового питания формируется на ранних этапах жизни ― грудное вскармливание способствует здоровому росту и улучшает когнитивное развитие и может оказывать благотворное воздействие на здоровье в длительной перспективе, например снижает вероятность набора избыточного веса или ожирения и развития НИЗ позднее в жизни.</p>
        <p>· Сокращение потребления свободных сахаров до менее 10% от общей потребляемой энергии является частью здорового питания, а сокращение их потребления до менее 5% предположительно обеспечивает дополнительные преимущества для здоровья .</p>
        <h3>Для взрослых людей</h3>
        <p>Здоровое питание включает следующие компоненты</p>
        <p>· Фрукты, овощи, бобовые</p>
        <p>· По меньшей мере, 400 г фруктов и овощей в день </p>
        <p>· Свободные сахара должны составлять менее 10% от общей потребляемой энергии, что эквивалентно 50 г на человека с нормальным весом</p>
        <p>· Жиры должны составлять менее 30% от общей потребляемой энергии . Необходимо отдавать предпочтение ненасыщенным жирам</p>
        <h3>Для детей грудного и раннего возраста</h3>
        <p>· В течение первых 6 месяцев жизни дети должны находиться на исключительном грудном вскармливании.</p>
        <p>· Грудное вскармливание детей необходимо продолжать в течение первых двух лет жизни и позднее.</p>
        <p>· С шестимесячного возраста грудное молоко необходимо дополнять разнообразными надлежащими безопасными и питательными продуктами. В прикорм не следует добавлять соль и сахар. </p>
<div class="back">
        <h1>Практические рекомендации по поддержанию здорового питания</h1>
       
        <h3>Фрукты и овощи</h3>
        <p>· всегда включать в рацион овощи</p>
        <p>· употреблять в качестве закуски свежие фрукты и овощи</p>
        <p>· потреблять сезонные фрукты и овощи</p>
        <p>· отреблять разнообразные фрукты и овощи.</p>
        <h3>Жиры</h3>
        <p>· сокращению потребления насыщенных жиров до менее 10% от общей потребляемой энергии</p>
        <p>· сокращению потребления трансжиров до менее 1% от общей потребляемой энергии</p>
        <p>· замещению насыщенных жиров и трансжиров ненасыщенными жирами, в частности полиненасыщенными жирами. </p>
        <h3>Соль, натрий и калий</h3>
        <p>· ограничить количество соли и приправ с высоким содержанием натрия, добавляемых во время приготовления еды</p>
        <p>· не ставить на стол соль и соусы с высоким содержанием натрия</p>
        <p>· ограничить потребление соленых закусок</p>
        <p>· выбирать продукты с низким содержанием натрия</p>
        <h1>Как способствовать здоровому питанию?</h1>
        <div class="p">
        <p>Рацион питания меняется со временем под воздействием многих социальных и экономических факторов и из-за их сложного взаимодействия, способствующего формированию индивидуальных моделей питания. Эти факторы включают доход, цены на продукты питания (которые оказывают воздействие на наличие продуктов питания и их доступность по стоимости), индивидуальные предпочтения и убеждения, культурные традиции, а также географические и экологические аспекты (включая изменение климата). Поэтому к формированию здоровой продовольственной среды ― включая продовольственные системы, способствующие разнообразному, сбалансированному и здоровому питанию, ― необходимо привлекать многочисленные сектора и заинтересованные стороны, в том числе правительства и государственный и частный сектора.</p>
        
        </div>
        
            <h6>© KostPedia, лучший источник информации </h6>
         
    </div>
</div> 
    </body>

</html>