<!DOCTYPE html>
<html>
    <head>
        <title>Psychology</title>
        <meta charset="UTF=8">
        <link rel="stylesheet" href="static/Стили.css">
       
        
    </head>
    <body>
    <div class="header1">
        <h1>Психология человека:</h1>
        <p>как устроена и ее основные принципы</p>
        
        <img src="https://i.pinimg.com/originals/f4/6f/dd/f46fdd15e1c4bda926ff575585a04187.jpg" width="60px" height="60px" alt="">
        
    </div>
  
    <div class="navbar">
        <p class="right">© KostPedia, лучший источник информации </p>
        <a href="/proper">Здоровое питание</a>
        <a href="/fitness">Фитнес</a>
        <a href="/login">Авторизация</a>
        <a href="/register">Регистрация</a>
        <a href="/profile">Профиль</a>
     
    </div>
    <div class="main2">
        <h1>Что такое психология человека?</h1>
        <p>Психология человека ― объект науки, которая изучает «работу» души — психические процессы, закономерности поведения человека и его отношений с миром. Понятие «психология человека» объединяет систему личностных, индивидуальных и социальных качеств людей, отличающих их друг от друга. К таким особенностям доктор психологических наук Николай Козлов относит разный объем памяти, скорость реакций, ценности, интересы, особенности поведения.</p>
        <p>Как устроена психология человека? У всех людей есть невидимая сущность — психика. Она состоит из сознания и подсознания. Под сознанием понимают действия и эмоциональные реакции, которые человек контролирует. Подсознание объединяет психические процессы, которые протекают без контроля и осознанного участия человека.</p>
        <p>Протекающие в сознании и подсознание процессы отражаются на всей нашей жизни. Они проявляются во всем, начиная от смены настроения и заканчивая отношением к неудачам, умением ставить перед собой цели и общением с окружающими.</p>
        <p>Значение имеют способности и навыки, чувства и умение управлять эмоциями, ценности и потребности, установки и убеждения, особенности восприятия мира. Все это формируется под влиянием наследственности, воспитания, воздействия родителей и окружения, имеющихся образцов поведения.</p>
        <h1>Зачем понимать психологию человека?</h1>
        <p>Эксперты образовательного портала Lerna уверены, что изучать психологию полезно обычным людям. Подтверждает эту мысль и психолог Максим Власов. По его мнению, знания в сфере психологии человека помогут лучше понимать окружающих и разобраться в себе. Они позволяют строить отношения и взаимодействовать с другими людьми, деловым окружением, обществом в целом.</p>
        <div class="back2">
        <div class="back20">
        <h3>Знание психологии человека позволяет:</h3>
        <p>· распознавать и исправлять негативные поведенческие привычки</p>
        <p>· понимать и предсказать поведение человека в различных ситуациях</p>
        <p>· разбираться в людях и влиять на окружающих</p>
        <p>· избегать определенных рисков в отношениях и карьере</p>
        <p>· достигать высоких результатов во всех сферах деятельности</p>
        <p>· жить в гармонии с самим собой и окружающим миром</p>
        <div class="c1">
        <p>Знания психологии помогают строить более крепкие отношения с друзьями и близкими, воспитывать детей, покорять новые вершины, управлять людьми. Чтобы добиться этого, необходимо знать основные принципы человеческой психологии.</p>
        <p>Принципы психологии описывают основные закономерности, присущие психике человека. Какие есть принципы психологии человека? Американский психолог Уильям Джемс в книге «Психология» назвал такие принципы:</p>
        </div>
        <p>· Отражение. Раскрывает сущность психики человека, ее особенности и характеристики.</p>
        <p>· Детерминизм (взаимосвязь). Раскрывает биологические, природные и социальные причины развития человеческой психики, а также тот факт, что психика человека способна меняться.</p>
        <p>· Развитие. Объясняет динамику развития психики человека под воздействием окружающего мира.</p>
        <p>· Активность. Акцентирует внимание на внутренних и внешних факторах, которые влияют на формирование человеческой психики.</p>
        <p>· Единство. Утверждает, что знания о психике человека можно получить, только изучив, как он мыслит, во что верит, как поступает в той или иной ситуации. Читайте больше:</p>
        <p>· Системний подход. Утверждает, что при изучении психики человека важно учитывать не только психологические, но и физические факторы.</p>
        <p>· Личностный подход. Все люди отличаются друг от друга природными задатками. темпераментом, силой нервной системы, характером.</p>
        <div class="c1">
        <p>Знание психологии человека может положительно сказаться на вашей жизни. Понимание ее принципов поможет наладить отношения с близкими и коллегами, облегчит задачу воспитания детей, достижение целей.</p>
        <p>Психология человека изучает личностные особенности человека, его эмоции, причины поступков, взаимоотношения с окружающими людьми. Знания в этой сфере необходимы и профессионалам, и обычным людям, которые хотят сделать свою жизнь лучше.</p>
        </div>
        </div>
        </div>
    </div>
        
    <h6>© KostPedia, лучший источник информации </h6>
 
</div>
</body>
</html>